@model CityWeather

<!DOCTYPE html>
<html>
	<head>
		<title>City Weather</title>
		<meta charset="utf-8" />
		<link href="~/StyleSheet.css" rel="stylesheet" />
	</head>
	
	<body class="body">
		<div class="page-content">

			<div class="box w-30 flex margin-top-200">

				<table>
					<tbody>
						<tr>
							<td>
								<h2>@Model.CityName</h2>
								<h4 class="text-dark-grey">@Model.DateAndTime.ToString("dd/MMM/yyyy")</h4>
								<h4 class="text-dark-grey">@Model.DateAndTime.ToString("t")</h4>
							</td>
							<td class="border-left padding-left margin-left">
								<h1>@Model.TemperatureFahrenheint <span class="text-grey">°F</span></h1>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a href="/">Back to Weather Home Page</a>
		</div>
	</body>
</html>