@model IEnumerable<CityWeather>;

@{
	string SetBackGroundColor(int fahrenheint)
	{
		if(fahrenheint < 44)
		{
			return "blue-back";
		}
		else if(fahrenheint >= 44 && fahrenheint <= 74)
		{
			return "green-back";
		}
		else
		{
			return "orange-back";
		}
	}
}

<!DOCTYPE html>
<html>
	<head>
		<title>Cities Weather</title>
		<meta charset="utf-8"/>
		<link href="~/StyleSheet.css" rel="stylesheet"/>
	</head>

	<body class="body">
		<div class="page-content">
			<div class="flex margin-top-200">
				@foreach (CityWeather city in Model)
				{
					<div class="box w-30 @SetBackGroundColor(city.TemperatureFahrenheint)">

						<vc:city-weather city-weather="city"></vc:city-weather>

						@* <partial name="_WeatherPartialView" model=city/> *@
					</div>
				}
			</div>
		
		</div>
	</body>
</html>