@model CityWeather

<!DOCTYPE html>
<html>
	<head>
		<title>City Weather</title>
		<meta charset="utf-8" />
		<link href="~/StyleSheet.css" rel="stylesheet" />
	</head>
	
	<body class="body">
		<div class="page-content">

			<div class="box w-30 flex margin-top-200">

				<partial name="_WeatherPartialView" model=Model/>

			</div>
			<a href="/">Back to Weather Home Page</a>
		</div>
	</body>
</html>