<!DOCTYPE html>
<html>
	<head>
		<title>All</title>
		<meta charset="utf-8"/>
		<link href="~/StyleSheet.css" rel="stylesheet"/>
	</head>

	<body>
		<div class="page-content">
			All products
		</div>
	</body>
</html>